<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>System Login:</h1>
<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button>Login</button>
    <h2>you have not registered?</h2><h4><a href="{% url 'register' %}" >Sign Up</a></h4>

</form>

</body>
</html>