<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ categories }} | Category</title>

    <meta name="description" content="Description goes here" />
    <meta charset="utf-8">
    <title> weblog - news </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="fastwp.net">

	<!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- Google Web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


</head>
<body>
 <H1>{{ category }}</H1>
    {% if news %}
        {% for item in news %}
                {% if item.image %}
                <img src="{{ item.image_url}}" height="200" width="200">
                    {% else %}
                    <p>No picture</p>
                {% endif %}

            <h2>{{ item.title }}</h2>
            <p>{{ item.body }}</p>
            <p>{{ item.topic }}</p>
            <p>{{ item.reference }}</p>
            <p>------------------------------------------------------------------</p>
            {% endfor %}
        {% else %}
            <h1>No News</h1>
    {% endif %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/in_view.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

</body>
</html>



