<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form action="{% url 'create-comment' news.pk%}" method="POST" class="post-form">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="save btn btn-default">Save</button>
</form>



<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/in_view.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

</body>
</html>