<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="description" content="Description goes here"/>
    <meta charset="utf-8">
    <title>weblog - news </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="fastwp.net">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- Google Web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
</head>

<body>

<div class="nav">
    <div class="nav-header">
        <h3><span>news</span>Doc</h3>
    </div>
    <ul class="nav-menu">
        <li><a href="#">Getting Started</a>
            <ul>
                <li><a href="{% url 'create_news' %}">Create News</a></li>

                {% if not user.is_authenticated%}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}
                {% if user.is_authenticated%}
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% endif %}
            </ul>
        </li>


        <ul class="nav-menu">
            <li><a href="#">Category</a>
                <ul>
                    {% for category in categories %}

                        <li><a href="{% url 'categories' category.id%}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>


</div>

<div class="content">
    <div class="content-wrapper">

        <div id="getting-started" data-in-view="getting-started">
            <h1>Getting Started</h1>
            <p class="lead">News is information about current events. This may be provided through many different media:
                word of mouth, printing, postal systems, broadcasting, electronic communication, or through the
                testimony of observers and witnesses to events.</p>
            <p>Common topics for news reports include war, government, politics, education, health, the environment,
                economy, business, fashion, and entertainment, as well as athletic events, quirky or unusual events.
                Government</p>
            <p>proclamations, concerning royal ceremonies, laws, taxes, public health, and criminals, have been dubbed
                news since ancient times. Humans exhibit a nearly universal desire to learn and share news, which they
                satisfy by</p>
            <p>talking to each other and sharing information. Technological and social developments, often driven by
                government communication and espionage networks, have increased the speed with which news can spread, as
                well as </p>
            <p>influenced its content. The genre of news as we know it today is closely associated with the newspaper,
                which originated in China as a court bulletin and spread, with paper and printing press, to Europe.</p>

        </div>

        <hr>

        <div id="Economy-news" data-in-view="Economy-news">
            <h1>Economy-news</h1>

            {% for news in economy_news %}
                <h2>{{ news.user }}</h2>
                {% if news.image %}

                    <a><img src="{{ news.image_url }}" width="200" height="200"></a>
                {% else %}
                    <h2>No picture</h2>
                {% endif %}
                <h2><a href="{% url 'news_detail' news.pk %}">
                    {{ news.title }}
                </a></h2>
                <h3>{{ news.summary }}</h3>
                <p>{{ news.reference }}</p>
                <p>{{ news.create }}</p>

            {% endfor %}


        </div>
        <hr>

        <div id="Sport-news" data-in-view=Sport-news">
            <h1>Sport-news</h1>
            {% for news in sport_news %}
                <h2>{{ news.user }}</h2>

                {% if news.image %}

                    <a><img src="{{ news.image_url }}" width="200" height="200"></a>
                {% else %}
                    <h2>No picture</h2>
                {% endif %}

                <h2><a href="{% url 'news_detail' news.pk %}">
                    {{ news.title }}
                </a></h2>
                <h3>{{ news.summary }}</h3>
                <p>{{ news.reference }}</p>
                <p>{{ news.create }}</p>
            {% endfor %}



            .
        </div>

        <hr>

        <div id="Political-news" data-in-view="Political-news">
            <h1>Political-news</h1>
            {% for news in political_news %}
                <h2>{{ news.user }}</h2>

                {% if news.image %}
                    <a><img src="{{ news.image_url }}" width="200" height="200"></a>
                {% else %}
                    <h2>No picture</h2>
                {% endif %}

                <h2><a href="{% url 'news_detail' news.pk %}">
                    {{ news.title }}
                </a></h2>

                <h3>{{ news.summary }}</h3>
                <p>{{ news.reference }}</p>
                <p>{{ news.create }}</p>
            {% endfor %}


        </div>

        <hr>

        <div id="Religion-news" data-in-view="Religion-news">
            <h1>Religion-news</h1>
            {% for news in religion_news %}
                <h2>{{ news.user }}</h2>

                {% if news.image %}
                    <a><img src="{{ news.image_url }}" width="200" height="200"></a>
                {% else %}
                    <h2>No picture</h2>
                {% endif %}

                <h2><a href="{% url 'news_detail' news.pk %}">
                    {{ news.title }}
                </a></h2>
                <h3>{{ news.summary }}</h3>
                <p>{{ news.reference }}</p>
                <p>{{ news.create }}</p>
            {% endfor %}

        </div>


        <hr>

        <div id="References" data-in-view="References">
            <h1>References</h1>
            <h4><a href="https://google.com"></a>CNN</h4>
            <h4><a href="https://www.bbc.com/news/world"></a>www.bbc.com</h4>
            <h4><a href="https://www.theguardian.com/world/religion/"></a>www.theguardian.com</h4>
        </div>

    </div>
</div>

<!-- Javascripts -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/in_view.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

</body>
</html>