<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ news.topic }} | news</title>

    <meta name="description" content="Description goes here" />
    <meta charset="utf-8">
    <title> weblog - news </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="fastwp.net">

	<!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- Google Web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


</head>
<body>
    <h2>{{ news.user }}</h2>
    {% if news.image %}
        <img src="{{  news.image_url }} " width="100" height="100">
    {% else %}
        <h2>No picture</h2>
    {%  endif%}

            <h2>{{ news.title }}</h2>
            <h4>{{ news.body }}</h4>
            <p>reference by <br>{{ news.reference }}</p>
    <p>------------------------------------------------------------</p>
            <h3>Comments:</h3>
    {% if comments%}
        <h2>{{ comments.count }} Comments:</h2>
        {% for comment in comments%}
            <h2>{{ comment.user }}</h2>
            <h4>{{ comment.body }}</h4>
            <p>{{ comment.create }}</p>
        {% endfor %}

    {% else %}
        <p>Comments Does not exist</p>
    {% endif %}

    <p><a href="{% url 'create-comment' news.pk %}">Create New Comment on post</a></p>


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/in_view.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

</body>
</html>