<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News edit</title>
</head>
<body>

    <h3>new post</h3>
    <form action="{% url 'create_news' %}" method="POST" >
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="save btn btn-default">save</button>
    </form>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/in_view.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

</body>
</html>